@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{
  font-family: 'Roboto', sans-serif !important;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html, body, #root{
  height: 100%;
}
.App{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.App.dark{
  background-color: #000;
}
.App .form, form{
  display: flex;  
}
.App .logo{
  margin-bottom: 10px;
}
.App .form input{
  background-color: #FFF;
  padding: 12px 10px;
  border: 1px solid black;
  border-right: none;
  outline: none;
  font-size: 18px;
}
.App.dark .form input{
  background-color: #222;
  border: 1px solid #FFF;
  color: #FFF;
}
.App .form input::placeholder{
  font-size: 14px;
}
.formApp{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.App .form button{
  border: 1px solid #6979F8;
  background-color: transparent;
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #6979F8;
  cursor: pointer;
}
.App .form button:hover{
  background-color: #6979F8;
  color: #FFF;
}
.Output{
  max-width: 600px;
  width: 100%;
  max-height: 550px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 15px;
  background-color: #FFF;
}
.App.dark .Output{
  background-color: #222;
  color: #FFF;
  border: 1px solid #fff;
}
.Output .repos, .Output .head{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 5px 15px;
  width: 100%;
  gap: 5px;
}
.Output .head{
  text-align: center;
  border-radius: 10px;
  background-color: #ddd;
  padding: 15px 5px;
  font-weight: 400;
  width: 100%;
}
.App.dark .Output .head{
  background-color: #383838;
}
.Output .output-img img{
  margin-top: 15px;
  border-radius: 50%;
  border: 1px solid #000;
  padding: 2px;
}
.Output .repos ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 5px 3px;
  width: 100%;
}
.App.dark .Output .repos ul{
  border: 1px solid #FFF;
}
.Output .repos ul li{
  border-bottom: 1px solid black;
  width: 100%;
  padding: 15px 25px;
  display: flex;
  justify-content: space-between;
}
.App.dark .Output .repos ul li{
  border-bottom: 1px solid #fff;
}
.App .notFound{
  font-size: 19px;
  font-weight: 800;
  padding: 15px 0;
}
.App.dark .notFound{
  color: #FFF;
}
.mode{
  position: absolute;
  bottom: 20px;
  right: 20px;
}
@media (max-width: 768px){
  .App .form form{
    flex-direction: column;
  }
  .App .form form input{
    border-right: 1px solid black;
    border-bottom: none;
  }
  .App.dark .form form inpur{
    border-right: 1px solid #FFF;
  }
  .App .form form button{
    width: 100%;
  }
}